<div class="container comparison-container js-game-show-page">
	<div class="row game-description-row">
		<h1><%= @game.home_team %> vs <%= @game.away_team %></h1>
			<%= @game.title %>

		<h3><%= @game.venue %></h3>
		<h4><%= @game.city%>, <%= @game.state %></h4>
		<br>
		<% if @game.id <= 35 && @game.id > 5 %>
	
			<%= link_to "< Previous Game", "/comparison/#{@subtract_id}", class: "previous-page" %>
			<%= link_to "Next Game >", "/comparison/#{@add_id}", class: "next-page" %>

		<% elsif @game.id <= 5 %>

			<%= link_to "Next Game >", "/comparison/#{@add_id}", class: "next-page" %>

		<% else %>
			<%= link_to "< Previous Game", "/comparison/#{@subtract_id}", class: "previous-page" %>
			<%= link_to "Finished", "/", class: "finished" %>
		<% end %>
		<br>
		<p class="js-game-name-team1"><%= @game.team_1 %></p> 
		<p class="js-game-name-team2"><%= @game.team_2 %></p>
	</div> <!-- End Game Description Row -->
	<br>
	<div class="row">

		<div class="col-md-1">
			<img src="#" alt="Team Logo" class="js-logo-team1">
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot1">Mascot 1</p>
			<p class="record">( <span class="js-wins-team1"></span> - <span class="js-losses-team1"></span> )</p>
			<p class="seed">Seed: <span class="js-seed-team1"></span> </p>
		</div> 

		<div class="col-md-4 col-md-offset-1 predicted-winner">
			<p class="predicted-winner-header">Predicted Winner</p>
			<p class="js-predicted-winner"></p>
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot2">Mascot 2</p>
			<p class="record">( <span class="js-wins-team2"></span> - <span class="js-losses-team2"></span> )</p>
			<p class="seed">Seed: <span class="js-seed-team2"></span> </p>
		</div>

		<div class="col-md-1 col-md-offset-0 logo-team2">
			<img src="#" alt="Team Logo" class="js-logo-team2">
		</div> 
	</div> 
	<!-- ******* END BASIC TEAM INFO ROW *********** -->

	<div class="row">

		<div class="col-md-4 col-md-offset-0">
			<%= render "shared/table1" %>
		</div> 

		<div class="col-md-2 col-md-offset-1">
			<p class="confidence-level-header">Confidence Level</p>
			<p class="js-confidence-level"></p>
			<br>
			<button class="btn btn-primary js-compare-schedule-button">Compare Schedules</button>
		</div>

		<div class="col-md-4 col-md-offset-1">
			<%= render "shared/table2" %>
		</div> 
	</div>
	 <!-- ******* END TEAM STATS ROW *************-->
	
	<%= render "shared/schedule_modal" %>
</div>

</div> <!-- End Container Fluid -->