<div class="container home-container">

	<div class="row header-row">
		<div class="row">
			<h1 class="welcome-header">BracketAid</h1>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="icon">
					<i class="fa fa-home fa-4x" aria-hidden="true"></i>
				</div>
				<p class="home-text">Compare any two NCAA Tournament teams side by side. Easily view stats, records, schedules, predictions, and more.</p>
			</div>
			<div class="col-md-4">
				<div class="icon">
					<i class="fa fa-gavel fa-4x" aria-hidden="true"></i>
				</div>
				<p class="home-text">Shuffle through and compare all of the first round matchups including links to outside predictions.</p>
			</div>
			<div class="col-md-4">
				<div class="icon">
					<i class="fa fa-trophy fa-4x" aria-hidden="true"></i>
				</div>
				<p class="home-text">View BracketAid's completed bracket based on an algorithm that includes RPI, seed, scoring margin, FG and FT percentage.</p>
			</div>
		</div>
	</div>

	<div class="row select-teams-row">
		
		<div class="col-md-3 col-md-offset-2">
			<%= render "select1" %>
		</div> 

		<div class="col-md-3 col-md-offset-2">
			<%= render "select2" %>
		</div> 
	</div> 
	<!-- ******** END SELECT FORM ROW ***********-->

	<div class="row basic-team-info-row">

		<div class="col-md-1">
			<img src="#" alt="Team Logo" class="js-logo-team1">
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot1">Mascot 1</p>
			<p class="record">( <span class="js-wins-team1"></span> - <span class="js-losses-team1"></span> )</p>
			<p class="seed">Seed: <span class="js-seed-team1"></span> </p>
		</div> 

		<div class="col-md-4 col-md-offset-1 predicted-winner">
			<p class="predicted-winner-header">Predicted Winner</p>
			<p class="js-predicted-winner"></p>
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot2">Mascot 2</p>
			<p class="record">( <span class="js-wins-team2"></span> - <span class="js-losses-team2"></span> )</p>
			<p class="seed">Seed: <span class="js-seed-team2"></span> </p>
		</div>

		<div class="col-md-1 col-md-offset-0 logo-team2">
			<img src="#" alt="Team Logo" class="js-logo-team2">
		</div> 
	</div> 
	<!-- ******* END BASIC TEAM INFO ROW *********** -->
	
	<div class="row team-stats-row">

		<div class="col-md-4 col-md-offset-0">
			<%= render "shared/table1" %>
		</div> 

		<div class="col-md-2 col-md-offset-1">
			<p class="confidence-level-header">Confidence Level</p>
			<p class="js-confidence-level"></p>
			<br>
			<button class="btn btn-primary js-compare-schedule-button">Compare Schedules</button>
			<% if user_signed_in? %>
				<p class="prediction-links"><a target="_blank" href="http://www.ncaa.com/news/basketball-men/article/2016-03-14/march-madness-predictions-every-1st-round-game-examined">NCAA Predictions</a></p>
				<p class="prediction-links"><a target="_blank" href="http://www.cbssports.com/collegebasketball/eye-on-college-basketball/25516859/march-madness-bracket-the-most-likely-upsets-on-each-seed-line">CBS Predictions</a></p>
				<p class="prediction-links"><a target="_blank" href="http://www.sbnation.com/college-basketball/2016/3/16/11236084/ncaa-tournament-2016-march-madness-bracket-picks-bracketology-kansas-michigan-state-unc-oklahoma">SB Nation Predictions</a></p>
			<% end %>
		</div>

		<div class="col-md-4 col-md-offset-1">
			<%= render "shared/table2" %>
		</div> 
	</div>
	 <!-- ******* END TEAM STATS ROW *************-->
	
	<%= render "shared/schedule_modal" %>
</div>
 <!-- ******* End Container Divide ******* -->


