<div class="container">

	<div class="row header-row">
		<h1 class="welcome-header">Welcome to Bracket Genie</h1>
	</div>

	<div class="row select-teams-row">
		
		<div class="col-md-3 col-md-offset-2">
			<%= render "select1" %>
		</div> 

		<div class="col-md-3 col-md-offset-2">
			<%= render "select2" %>
		</div> 
	</div> 
	<!-- ******** END SELECT FORM ROW ***********-->

	<div class="row basic-team-info-row">

		<div class="col-md-1">
			<img src="#" alt="Team Logo" class="js-logo-team1">
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot1">Mascot 1</p>
			<p>( <span class="js-wins-team1"></span> - <span class="js-losses-team1"></span> )</p>
			<p>Seed: <span class="js-seed-team1"></span> </p>
		</div> 

		<div class="col-md-4 col-md-offset-1 predicted-winner">
			<p class="predicted-winner-header">Predicted Winner</p>
			<p class="js-predicted-winner"></p>
		</div>

		<div class="col-md-1 col-md-offset-1">
			<p class="js-mascot2">Mascot 2</p>
			<p>( <span class="js-wins-team2"></span> - <span class="js-losses-team2"></span> )</p>
			<p>Seed: <span class="js-seed-team2"></span> </p>
		</div>

		<div class="col-md-1 col-md-offset-0 logo-team2">
			<img src="#" alt="Team Logo" class="js-logo-team2">
		</div> 
	</div> 
	<!-- ******* END BASIC TEAM INFO ROW *********** -->
	
	<div class="row team-stats-row">

		<div class="col-md-4 col-md-offset-0">
			<%= render "table1" %>
		</div> 

		<div class="col-md-2 col-md-offset-1">
			<p class="confidence-level-header">Confidence Level</p>
			<p class="js-confidence-level"></p>
			<br>
			<button class="btn btn-danger js-compare-schedule-button">Compare Schedules</button>
		</div>

		<div class="col-md-4 col-md-offset-1">
			<%= render "table2" %>
		</div> 
	</div>
	 <!-- ******* END TEAM STATS ROW *************-->
	
	<%= render "schedule_modal" %>
</div>
 <!-- ******* End Container Divide ******* -->


