<!DOCTYPE html>
<html>
<head>
  <title>NCAAMb</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <img src="<%= asset_path('march-madness') %>" class="img-responsive main-image">

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/comparison/5">First Round</a></li> 
        <li><a href="/brackets">Bracket</a></li> 
      </ul>
      <ul class="nav navbar-nav navbar-right">
      
      <% if user_signed_in? %>
           <li><a data-method="DELETE" href="/users/sign_out"><button class="btn btn-primary btn-sm">Log Out</button></a></li> 
      <% else %>
          <li><a href="/users/sign_in"><button class="btn btn-primary btn-sm js-login">Log In</button></a></li>
          <li><a href="/users/sign_up"><button class="btn btn-primary btn-sm">Sign Up</button></a></li>
      <% end %>
      </ul>
    </div>
  </nav>

<div class="container-fluid body-container">
  
  <%= yield %>

</div>
  <footer>
    <p class="footer-text">&copy 2016 BracketAid.co All Rights Reserved</p>
    <p class="email-footer">bfrazier1018@gmail.com</p>
  </footer>

</body>
</html>
